body {
  background-color: #F9F1EF;
}

h1 {
  color: plum;
  text-align: center;
}

li {
  font-family: verdana;
  font-size: 20px;
  
}

 
  ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #F6B2E3;
  }
  
  
  button{
    font-family: comic sans-serif;
   font-size: 20px;
   background-color: #E6B2F6;
  }
  
  .miJumbo {
    margin-top: 1rem;
    padding: 32px 16px;
    background-color: #e9ecef;
    border-radius: 0.5rem;
    text-align: center;
  }
  
  