/* Modo Oscuro*/
@media (prefers-color-scheme: dark) {
  :root {
      --body-bg: #000000;
      --body-color: #FFFFFF;
  }
}
body {
  background: var(--body-bg);
  color: var(--body-color);
}

h1 {
  background: var(--body-bg);
  color: var(--body-color);
  text-align: center;
}

li, ul {
  background: var(--body-bg);
  color: var(--body-color);
  font-family: verdana;
  font-size: 20px;
  
}


  ul {
    background: var(--body-bg);
    color: var(--body-color);
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;

  }


  button{
    background: var(--body-bg);
    color: var(--body-color);

  }